body,
ul {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

body {
  overflow-y: auto;
  background-color: #121212;
  height: 100vh;
  font-size: 24px;
  z-index: -1;
}

.nav-bar {
  background-color: #121212;
  margin-top: -50px;
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #ffcc00;
}

.nav-bar > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

.nav-bar > ul > li {
  border: none;
  list-style-type: none;
}

.nav-bar > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 23px;
  font-weight: bold;
  transition: 0.25s;
}

.nav-bar > ul > li > a:hover {
  font-size: 25px;
  color: #cea135;
}
.nav-bar > ul > li {
  width: 180px;
  text-align: center;
}

header {
  margin-top: 50px;
  height: fit-content;
  top: 0;
  width: 100%;
  background-color: #121212;
  color: white;
  text-align: center;
  font-size: 24px;
}

body header h1 {
  color: white;
  font-size: 65px;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
}

.index {
  background-color: #121212;
  height: auto;
  padding: 20px;
  text-align: center;
}

.index h2 {
  font-size: 1.6em;
  color: #cea135;
}

.index p {
  margin-top: 20px;
  font-size: 1.5em;
  color: #d3d3d3;
}

.index img {
  width: 60%;
  max-width: 500px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgba(255, 204, 0, 0.5);
}

.random {
  background-color: #121212;
  color: white;
  height: auto;
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }
}

button {
  background-color: #e50914;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin: 10px;
}

button:hover {
  background-color: #ffcc00;
  color: black;
}

#logIn,
#signup {
  padding: 8px 15px;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  min-width: 16vw;
  outline: #ffcc00 3px solid;
  border: #aa8800 3px solid;
  background-color: hsl(0, 0%, 11%);
  border-radius: 20px;
  padding: 50px 70px;
  width: fit-content;
}

.input-group {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

label {
  position: relative;
  left: 10px;
  font-size: 20px;
  color: #ffcc00;
  font-weight: bold;
}

#username,
#password,
#fullname,
#email,
#confirm-password {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ffcc00;
  background-color: #fffcc8;
}

#loginForm,
#signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signupLink,
#loginLink {
  color: #ffffff;
  font-weight: 100;
  margin-top: 20px;
  font-size: small;
}

#signupLink a,
#loginLink a {
  color: #ffcc00;
}

.dropdown {
  margin: -28px 0;
}
.container {
  overflow: auto;
}
#login {
  margin-top: 18px;
  margin-bottom: 5px;

  padding-bottom: 0px;
  margin-right: 35px;
}
#btn1 {
  background-color: #121212;
  border: #121212;
  font-weight: bold;
  font-size: 20px;
}
#btn2 {
  color: #121212;
  background-color: white;
  border: white;
  font-weight: bold;
  font-size: 20px;
}
.reelpicks-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  padding: 10px 20px;
}

.reelpicks-logo {
  display: flex;
  align-items: center;
  gap: 0px;
}

.reelpicks-logo img {
  width: 33px;
  height: auto;
  margin-right: 0px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: none;
}

.reelpicks-logo li {
  list-style: none;
}

.reelpicks-brand {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.reelpicks-nav-links {
  display: flex;
  gap: 40px;
}

.reelpicks-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#dropdownMenuButtonDark {
  background-color: #121212;
  font-size: 20px;
}
.main-content {
  margin-top: 30px;
  border: none;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright-wrapper {
  background-color: #cea135;
  color: #121212;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* about cards */
.card {
  margin: 0 10px;
  position: relative;
  width: 200px;
  height: 200px;
  background: lightgrey;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 1s ease-in-out;
}

.background {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at 100% 107%, #cea135 0%, #121212 100%);
}

.logo {
  position: absolute;
  text-align: center;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.6s ease-in-out;
}

.logo .logo-svg {
  color: white;
  width: 150px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon .svg {
  fill: rgba(255, 255, 255, 0.797);
  transition: all 0.5s ease-in-out;
}

.box {
  position: absolute;
  padding: 10px;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  transform-origin: bottom left;
  transition: all 1s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.box:hover .svg {
  fill: white;
}

.box1 {
  width: 70%;
  height: 70%;
  bottom: -70%;
  left: -70%;
}

.box1::before {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #ff53d4 60%,
    #62c2fe 90%
  );
}

.box1:hover::before {
  opacity: 1;
}

.box1:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box2 {
  width: 50%;
  height: 50%;
  bottom: -50%;
  left: -50%;
  transition-delay: 0.2s;
}

.box2::before {
  background: radial-gradient(circle at 30% 107%, #a8d8ff 0%, #0a66c2 90%);
}

.nourboxwtsp::before {
  background: radial-gradient(circle at 30% 107%, #25d366 0%, #075e54 90%);
}

.box2:hover::before {
  opacity: 1;
}

.box2:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box3 {
  width: 30%;
  height: 30%;
  bottom: -30%;
  left: -30%;
  transition-delay: 0.4s;
}

.box3::before {
  background: radial-gradient(circle at 30% 107%, #181717 0%, #b349ff 90%);
}

.box3:hover::before {
  opacity: 1;
}

.box3:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box4 {
  width: 10%;
  height: 10%;
  bottom: -10%;
  left: -10%;
  transition-delay: 0.6s;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .box {
  bottom: -1px;
  left: -1px;
}

#genreGrid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
  margin-top: -100px;
  margin-bottom: 100px;
}

.genreCard {
  width: 125px;
  height: 125px;
  background: #e50914;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 20px rgba(255, 204, 0, 0.5);
}

#genreGrid a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#movieList {
  display: grid;

  grid-template-columns: repeat(3, 300px);
  gap: 10px;
  margin-bottom: 100px;
}

.movie-card {
  border: 2px solid #161616;
  border-radius: 20px;
  width: 300px;
  min-height: 350px;
  height: fit-content;
  background-color: #aa8800;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  position: relative; /* Needed for smooth transitions */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

.movie-card img {
  width: 125px;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgba(255, 204, 0, 0.5);
}

.movie-card h3 {
  font-size: 1.2em;
  color: #121212;
  margin-top: 20px;
}

.movie-card:hover {
  transform: scale(1.1); /* Scale up the card */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
  z-index: 1; /* Bring the card to the front */
}

.movie-card img,
.movie-card h3 {
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for image and title */
}

.movie-card:hover img,
.movie-card:hover h3 {
  display: none; /* Fade out the image and title */
  transform: translateY(-20px); /* Optional: Move them up slightly */
}

.movie-card p {
  display: none; /* Start hidden */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for description */
  font-size: 1em;
  color: #121212;
  text-align: center;
  width: 80%; /* Adjust as needed */
}

.movie-card:hover p {
  display: block; /* Fade in the description */
}

#questionCard {
  width: 300px;
  height: 300px;
  background: #cea135bb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 20px rgba(255, 204, 0, 0.5);
}

#optionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

#optionsContainer *,
#yesButton,
#noButton {
  background-color: #e50914;
  color: #121212;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin: 10px;
}

#movieTitle {
  font-size: 1.5em;
  color: #121212;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  margin-top: -50px;
}
